* {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

.img {
  background: url("./assets/images/mushroom.jpg") center center/cover;
  filter: grayscale(1);
  opacity: 0.90;
  height: 100vh;
  animation: play 3s ease-in infinite;
}

@keyframes play {
  0% {
    filter: grayscale(0.3);
  }

  25% {
    filter: grayscale(0.4);
  }

  50% {
    filter: grayscale(0.5);
  }

  75% {
    filter: grayscale(0.4);
  }

  100% {
    filter: grayscale(0.3);
  }
}

.img2 {
  background: url("./assets/images/mushroom.jpg") center center/cover;
  filter: grayscale(1);
  opacity: 0.95;
  height: 100vh;
  animation: play 3s ease-in infinite;
}

@keyframes play {
  0% {
    filter: grayscale(0.3);
  }

  25% {
    filter: grayscale(0.4);
  }

  50% {
    filter: grayscale(0.5);
  }

  75% {
    filter: grayscale(0.4);
  }

  100% {
    filter: grayscale(0.3);
  }
}

.no-padding {
  padding: 0 !important;
}

.h-100 {
  height: 100vh;
}

.my-6 {
  margin-bottom: 6rem !important;
  margin-top: 6rem !important;
}

.form-newcontrol {
  border: none;
  border-bottom: 2px solid #dddee0;
  border-radius: 0;
}

input[class="form-control form-newcontrol"]:focus {
  border-bottom: 3px solid #fe4e27 !important;
  background-color: white;
}

.wbl {
  text-decoration: none;
  color: whitesmoke !important;
}

.wbs {
  font-weight: lighter;
  color: whitesmoke !important;
}

.wbb {
  font-weight: bold;
  color: whitesmoke !important;
}

.primary2 {
  background-color: #fe4e27 !important;
  border: none !important;
}

.primary2:hover {
  background-color: #eb4a26 !important;
}

.pri-links {
  color: #fe4e27 !important;
  text-decoration: none !important;
}

.dropdown-item:active {
  background-color: #fe4e27 !important;
}

.btn-secondary-lg {
  background-color: white !important;
  color: #212529 !important;

  text-align: left;
  border: none !important;
  border-bottom: 2px solid #dddee0 !important;
  border-radius: 0 !important;
}

.btn-secondary-lg:focus {
  border-bottom: 3px solid #fe4e27 !important;
}

.bg-light{
    background-color: white !important;
}